.portal-header{
  width: 100%;
  height: 120px;
  background: #FCCFA7;
  display: flex;
  padding: 0 110px;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  .link-btn{
    display: flex;
    align-items: center;
    margin-top: 21px;
    a{
      color: #FFFFFF;
      text-decoration: none;
    }
    .bit-it,.deri-io{
      width: 179px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #59AE99;
      background-image: url('../../assets/img/bet-now.svg');
      background-repeat: no-repeat;
      background-position: 21px center;
    }
    .deri-io{
      margin-left: 50px;
      background-color: #93A1B8;
      background-image: url('../../assets/img/deri-io-go.svg');
      background-position: 156px center;
    }
  }
}
.collect{
  height: 56px;
  .link-btn{
    margin: 0;
  }
  .titel-des{
    display: none;
  }
}