$className: "BTC", "ETH", "BNB","DOGE";
$Color: #F49B33, #7A57DD, #F3BA2D,#C1A633;  
.card-box{
  width: 376px;
  height: 616px;
  border-radius: 30px;
  background: linear-gradient(#FFFFFF 0.37%, rgba(255, 255, 255, 0) 99.69%);
  margin-top: 50px;
  padding: 32px 0 0 36px;
  border: 1px solid transparent;
  cursor: pointer;
  
  .icon-name{
    display: flex;
    align-items: center;
    .symbol-name{
      margin-left: 12px;
      font-weight: 700;
      font-size: 24px;
    }
  }
  .symbol-price{
    font-size: 34px;
    color: #040415;
    margin-top: 26px;
    font-weight: 700;
  }
  .price-title,.leverage-title{
    font-size: 12px;
    color: #C8CDD5;
    display: flex;
    align-items: center;
    img{
      margin-left: 4px;
    }
  }
  .symbol-leverage{
    font-size: 26px;
    font-weight: 700;
    color: #FF7914;
    margin-top: 23px;
  }
  .input-box{
    width: 302px;
    height: 90px;
    margin: 0 auto;
    margin-top: 2px;
  }
  .btn-box{
    .btn{
      margin-top: 19px;
      background-repeat: no-repeat;
    }
    .up-btn{
      background-image: url('../../assets/img/up.svg');
      background-position: 125px;
      &:hover{
        background-image: url('../../assets/img/up-hover.svg');
      }
    }
    .down-btn{
      background-image: url('../../assets/img/down.svg');
      background-position: 110px;
      &:hover{
        background-image: url('../../assets/img/down-hover.svg');
      }
    }
    .boosted-btn{
      background-image: url('../../assets/img/boosted-up.svg');
      background-position: 90px;
      &:hover{
        background-image: url('../../assets/img/boosted-up-hover.svg');
      }
    }
  }

}
@for $i from 1 through length($className) {
  .#{nth($className, $i)} {
    .icon-name{
      color: nth($Color, $i);
    }
    &:hover {
      border: 1px solid nth($Color, $i);
    }
    
  }
}
  
@media only screen and (min-width : 760px) and (max-width:1440px) {
  .card-box{
    width: 336px;
    height: 584px;
    padding: 27px 0 0 28px;
    .btn-box{
      .btn{
        width: 288px;
      }
      .up-btn{
        background-position: 120px;
      }
      .down-btn{
        background-position: 105px;
      }
      .boosted-btn{
        background-position: 85px;
      }
    }
  }


}