* {
  margin: 0;
  box-sizing: border-box;
}

.betit {
  background: url('../assets/img/bg-icon-right-top.png') no-repeat ;
  background-position: right top;
  position: relative;
  .left-icon,.right-icon{
    position: absolute;
    z-index: -1;
  }
  .left-icon{
    top:356px;
    left: 0;
  }
  .right-icon{
    right: 0;
    top: 63%;
  }
  .bg-img-color {
    width: 100vw;
    height: calc(100vh - 120px) ;
    position: fixed;
    top: 120px;
    z-index: -1;
    background: linear-gradient(180deg, #FF6B00 0%, rgba(255, 107, 0, 0) 69.44%);
  }
  .bg-buttom{
    width: 100%;
    height: 191px;
    position: fixed;
    bottom: 0;
    background: linear-gradient(0deg, #FFFFFF -17.28%, rgba(255, 255, 255, 0) 100%);
  }
  .hide-three{
    height:100vh;
    top: 0;
  }
  .bg-collected{
    animation: BgOpen 0.5s;
  }
  .bg-collect{
    height: calc(100vh - 56px) ;
    align-items: BgClose 0.5s;
    top: 56px;
  }

@keyframes BgClose{
  from {
    top : 120px;
  }
  to {
    top : 56px;
  }
}
@keyframes BgOpen{
  from {
    top : 56px;
  }
  to {
    top : 120px;
  }
}

  .main-body {
    width: 100%;

    .title-box {
      width: 1221px;
      margin: 0 auto;

      .title-des {
        color: #FFFFFF;
        margin-top: 69px;
        font-size: 22;
        width: 639px;
        text-align: left;

        .title-text {
          font-size: 30px;
          font-weight: 700;
        }
      }
    }

    .total-pnl-box {
      width: 1221px;
      margin: 0 auto;
      .total-pnl {
        width: 632px;
        height: 104px;
        margin-top: 46px;
        background: rgba(255, 175, 13, 0.5);
        border: 2px solid #FFFFFF;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 26px;
        padding: 0 50px;
        color: #FFFFFF;
        font-weight: 600px;

        .pnl-num {
          font-size: 34px;
          font-weight: 700px;
          display: flex;
          align-items: center;
        }
      }
    }


    .card-list {
      width: 1221px;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
    }
  }

}
.bg-hide{
  background:transparent;
}

@media only screen and (min-width : 760px) and (max-width:1339px) {
  .betit {
    background:transparent;
    .bg-img-color {
      background: linear-gradient(180deg, #FF6B00 0%, rgba(255, 107, 0, 0) 69.44%);
    }
    .main-body {
      .card-list,.total-pnl-box,.title-box {
        width: 696px;
      }
      .total-pnl-box{
        .total-pnl {
          width: 696px;
          justify-content: center;
          .pnl-num {
            margin-left: 24px;
          }
        }
      }
    }
  }

}